stages:
  - build
  - notify

build-backend-code-job:
  stage: build  
#  only:
#    changes:
#    - backend/*
  script:
    - cd backend
    - mvn package
    - echo "qqq" >> build.env
  artifacts:
    paths:
      - backend/target/sausage-store-0.0.1-SNAPSHOT.jar
    expire_in: 1 day
    reports:
      dotenv: build.env


telegram-notification-backend:
  stage: notify
  only:
    changes:
    - backend/*
  script:
    - 'curl -X POST -H "Content-type: application/json" --data "{\"chat_id\": \"-1002134018008\", \"text\": \"Глеб Федотов test.\"}" https://api.telegram.org/bot5933756043:AAE8JLL5KIzgrNBeTP5e-1bkbJy4YRoeGjs/sendMessage'
  needs:
    - build-backend-code-job

