stages:
  - build
  - notify

build-backend-code-job:
  stage: build  
#  only:
#    changes:
#    - backend/*
  script:
    - cd backend
    - mvn package
    - echo "PREV_JOB_ID=${CI_JOB_ID}" > build.env
  artifacts:
    reports:
      dotenv: build.env
    paths:
      - backend/target/sausage-store-0.0.1-SNAPSHOT.jar
    expire_in: 1 day



telegram-notification-backend:
  variables:
      TEXT: "Глеб Федотов собрал backend ${CI_PROJECT_URL}/-/jobs/${PREV_JOB_ID}/artifacts/download"
      TLGRM: "https://api.telegram.org/bot5933756043:AAE8JLL5KIzgrNBeTP5e-1bkbJy4YRoeGjs/sendMessage"
  stage: notify
  only:
    changes:
    - backend/*
  script:
    - ls backend/target/*
    - 'curl -X POST -H "Content-type: application/json" --data "{\"chat_id\": \"-1002134018008\", \"text\": \"${TEXT}\"}" ${TLGRM}'
  needs:
    - build-backend-code-job


