[Unit]
Description=Run java with backend
After=network.target

[Service]
User=backend
Group=backend
Type=exec
Environment="REPORT_PATH=/var/sausage-store/reports"
Environment="LOG_PATH=/var/sausage-store/logs"
WorkingDirectory=/opt/sausage-store/bin/

# подставьте значения переменных
Environment=PSQL_USER="std-024-07"
Environment=PSQL_PASSWORD="PSQL_SECRET_PASS_PSQL"
Environment=PSQL_HOST="rc1d-6ltxi07qdaaunpa5.mdb.yandexcloud.net"
Environment=PSQL_DBNAME="std-024-07"
Environment=PSQL_PORT="6432"

# Параметры подключения к БД можно указать с помощью переменных окружения SPRING
Environment=SPRING_DATASOURCE_URL="jdbc:postgresql://${PSQL_HOST}:${PSQL_PORT}/${PSQL_DBNAME}?ssl=true"
Environment=SPRING_DATASOURCE_USERNAME="${PSQL_USER}"
Environment=SPRING_DATASOURCE_PASSWORD="${PSQL_PASSWORD}"

Environment=MONGO_USER="std-024-07"
Environment=MONGO_PASSWORD="PSQL_SECRET_PASS_MONGODB"
Environment=MONGO_HOST="rc1d-fmpc8y27lrcif391.mdb.yandexcloud.net"
Environment=MONGO_PORT=27018
Environment=MONGO_DATABASE="std-024-07"

Environment=SPRING_DATA_MONGODB_URI="mongodb://${MONGO_USER}:${MONGO_PASSWORD}@${MONGO_HOST}:27018/${MONGO_DATABASE}?tls=true"


ExecStart=/usr/bin/java -jar sausage-store-backend.jar
# optional items below
Restart=always
#RestartSec=3

[Install]
WantedBy=multi-user.target

